<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896285313253-769lh87ltljcl7p4a5e4c7u4ue912jo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896285313253-769lh87ltljcl7p4a5e4c7u4ue912jo4</string>
	<key>API_KEY</key>
	<string>AIzaSyCS6hL1IDv8pCiInbRaENTiT9_VycrSh2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>896285313253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adoptV2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>adoptv2-a7a23</string>
	<key>STORAGE_BUCKET</key>
	<string>adoptv2-a7a23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896285313253:ios:1dafb339a417cc72772c0c</string>
</dict>
</plist>